html {
  overflow: hidden;
}
.collection {
  border-color: #e0e0e0;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
li {
  position: relative;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 72px;
}
.circle {
  position: absolute;
  left: 15px;
  display: block;
}
.title {
  font-size: 16px;
  line-height: 21px;
}
.secondary-content {
  position: absolute;
  top: 16px;
  right: 16px;
}
p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(font/MaterialIcons-Regular.eot?#iefix) format('embedded-opentype'), url(font/MaterialIcons-Regular.woff2) format('woff2'), url(font/MaterialIcons-Regular.woff) format('woff'), url(font/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
