doctype html
html(lang='en')

  head
    base(href='/')
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Phonebook
    link(href='lib.css', rel='stylesheet')
    link(href='app.css', rel='stylesheet')

  body(ng-app='phonebook')
    ui-view
    script(src='lib.js')
    script(src='templates.js')
    script(src='app.js')
