.collection {
  border-color: #e0e0e0;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
li {
  position: relative;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 72px;
}
.circle {
  position: absolute;
  left: 15px;
  display: block;
}
.title {
  font-size: 16px;
  line-height: 21px;
}
.secondary-content {
  position: absolute;
  top: 16px;
  right: 16px;
}
p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
