.container
    .col-sm-3.col-md-3.col-lg-3
    .col-sm-6.col-md-6.col-lg-6
        .row
            .input-field
                input#search.validate(type='text', ng-model='searchString', placeholder='Enter your search terms')
                label(for='search') Search
        .row
            ul.collection
                li.colection-item.avatar(ng-repeat="i in items | filter: searchString")
                    i.medium.material-icons.circle account_box
                    span.title {{i.Name}}
                    p
                        | {{i.Telephone}}
                        br
                        | Sevatec
                    a.secondary-content(href='#!')
                        i.material-icons grade
    .col-sm-3.col-md-3.col-lg-3
